@charset "UTF-8";

:root {
  /* Primary Color */
  --primary-color: #6670da;
  --primary-dark: #454fb5;
  --primary-light: #8590e0;
  --primary-pale: #e0e5ff;
  /* Secondary Color */
  --secondary-color: #da6674;
  --secondary-dark: #b5454f;
  --secondary-light: #e08590;
  --secondary-pale: #ffd0d5;
  /* Error Color */
  --error-bg: #f8d7da;
  --error-text: #721c24;
  --error-border: #f5c6cb;
  /* Other Color */
  --white-color: #ffffff;
  --black-color: #333333;
  --gray-color: #efefef;
}

/* Global */
html, body {
  overscroll-behavior-x: none !important;
}

/* Title */
.h2Title {
  font-weight: bold;
}

/* section */
section {
  padding: 3rem;
}
section .wrapper {
  max-width: 1480px;
  margin: 0 auto;
}

.setlistContent {
  display: flex;
  justify-content: space-between;
}
.setlistContent .container {
  width: 48%;
}
/* Block */
.block {
  margin-bottom: 3rem;
}

/* Setlist Tool */
.setlistTool {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.setlistTool > div {
  width: 100%;
}

/* Button */
.button {
  margin-top: 1rem;
}
.button a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding: 1rem 2rem;
  background-color: #000000;
}

/* Error Message */
.errorMessage {
  padding: .5rem;
  margin-top: 1rem;
  border-radius: 4px;
  background-color: var(--error-bg);
  color: var(--error-text);
  border: 1px solid var(--error-border);
  word-break: break-word;
}

/* Form Parts */
.input {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: var(--gray-color);
  margin-top: 1rem;
}
.submitButton {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: .5rem 1rem;
  border: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}
.submitButton:hover {
  background-color: var(--primary-dark);
}

/* Song Card */
.cardList {
  margin-top: 1rem;
}
.songCard,
.mcCard {
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--primary-pale);
  color: var(--primary-dark);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mcCard {
  background-color: var(--secondary-pale);
  color: var(--secondary-dark);
  cursor: grab;
}
.songCard .songCardTitle,
.mcCard .mcCardTitle {
  flex-grow: 1;
  margin-left: .25rem;
}
.songCard + .songCard {
  margin-top: .5rem;
}
.songCardDelete,
.RemoveFromSetlistButton,
.AddToSetlistButton {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: .5rem 1rem;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.songCardDelete:hover,
.RemoveFromSetlistButton:hover,
.AddToSetlistButton:hover {
  background-color: var(--primary-dark);
}
.RemoveFromSetlistButton,
.AddToSetlistButton {
  margin-left: .5rem;
}
.mcCard .RemoveFromSetlistButton {
  background-color: var(--secondary-color);
}

/* Setlist Card List */
.setlistCardList {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.setlistCardList .songCard {
  cursor: grab;
}
.setlistCardList .sortableItemContent {
  width: 100%;
}

/* SortableItem */
.sortableItem {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.sortableItem:hover {
  cursor: grabbing; /* ドラッグ中のカーソル */
}
.sortableItem .sortableItemOrder {
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: .75rem 1rem;
  border-radius: 5px;
}
.sortableItem .sortableItemSongCard {
  flex-grow: 1;
}

/* Auth */
.auth {
  min-height: calc(100vh - 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth .authForm {
  padding: 3rem;
  max-width: 400px;
  background-color: var(--primary-pale);
  border-radius: 5px;
}
.auth .signUpButton {
  margin-top: 1rem;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}
.auth .signUpButton:hover {
  color: var(--primary-dark);
}

/* Header */
header {
  padding: 1.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 1rem;
}
header h1 {
  flex-grow: 1;
}
header nav ul {
  display: flex;
  gap: 1.5rem;
}
header nav ul li a {
  text-decoration: none;
  color: var(--white-color);
}
header .headerContent {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .bandName {
  font-size: .825rem;
  padding: .75rem 1rem;
  background-color: var(--primary-dark);
  border-radius: 5px;
  color: var(--white-color);
  font-weight: bold;
}

/* Footer */
footer {
  padding: 2rem 1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
}
footer .copy {
  text-align: center;
}

@media (max-width: 768px) {
  .setlistContent {
    flex-direction: column;
  }
  .setlistContent .container {
    width: 100%;
  }

  /* SongCard, MCCard */
  .songCard .songCardTitle, .mcCard .mcCardTitle {
    line-height: normal;
  }
}

@media (max-width: 480px) {
  section {
    padding: 1rem;
  }
}